<!DOCTYPE html> <!-- El simbolo ! despliega el esquema basico de html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi prmer documento en HTML</title> <!--Titulo que se vera en la pestaña del navegador-->
</head>
<body>
    <h1>El titulo de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>

    <img src="/images/Alan_Turing.jpg" alt = "">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam o
        bcaecati, reiciendis placeat aut repellat rem? Dolorem, n
        obis necessitatibus officiis esse hic explicabo! Eius poss
        imus deserunt obcaecati atque, unde corporis laboriosam.</p>
        <ol>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
        </ol>
        <ul>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
        </ul>
    <a href="https://www.google.com"> Ir a google</a>
</body>
</html>