
@media (min-width: 769px) {
    .product-title {
      /* visibility: collapse; */
      display: none;
    }
    .product {
      box-shadow:inset;
    }
    .nav-bar , .mainHeader{
      max-width: none;
      margin: auto;
    }
    .nav-bar ul li{
      margin: 0px 5px;
    }
    article{
      display: flex;
      
    }

 
  }